<div class="main-layout">
  <div class="container-fluid">
      <div class="row">
        <div class="col"></div>
        <div class="col align-content-center">
          <div class="display-pic">
          </div>
        </div>
        <div class="col"></div>
      </div>
      <div class="row">
          <div class="col"></div>
          <div class="col intro-container">
            <p>Hi, I am Tanay Ghosh. I am a frontend developer. I have worked 5 years in this field. I have built this website in my free time to demonstrate my love for building UI.</p>
          </div>
          <div class="col"></div>
        </div>
    </div>
</div>